body {
    font-size: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/**  ENCABEZADO DE PAGINA **/
.header {
    
    color: rgb(255, 255, 255);
    height: 8em;
    padding: 1em;
    font-size: 7em;
    background-image: url(/assets/img/header\ principal.jpg);
    background-size: cover;
    background-position: center;
    
}

/** SERVICIOS DE LA EMPRESA **/

.header p {
    font-size: 1em;
    margin-top: -1em;
    margin-left: 2em;
}

.servicios {
    width: 80%;
    margin: auto;
}
.servicios td {
    width: 50%;
    padding: 2em;
    font-size: 5em;
}
.servicios img {
    width: 100%;
    border: solid 1px #ddd;
    margin-left: -3em;
    border-radius: 50px;
}

/** PIE DE PAGINA **/

.footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 10em;
    padding: 1em;
}
